@tailwind base;
@tailwind components;
@tailwind utilities;


  @font-face {
    font-family: "rajdhani-bold";
    src: url("../assests/fonts/Rajdhani/Rajdhani-SemiBold.otf") format("opentype");
  }

  @font-face {
    font-family: "rajdhani-regular";
    src: url("../assests/fonts/Rajdhani/Rajdhani-Regular.otf") format("opentype");
  }